.App {
  text-align: center;
}

.main-body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.results-list,
.repo-list {
  list-style: none;
  padding: 0;
}

.repo-list ul {
  border: dotted, 1px, lightgrey;
}

.single-user,
.single-repo,
.search-results {
  border: dotted 1px grey;
  padding: 20px;
}
